<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" >
<head>
<meta charset="UTF-8">
<!--添加 layui 自己的js  支持加载-->
<script	src="/manage/manage_base.js"></script>
<!--添加 layui 自己的js  支持加载-->

</head>

<style>
html,body{
	min-width: 1024px;
	 height:100%; 
	 overflow: hidden;
}
.layui-tab-item{
	overflow-x: scroll;
}
</style>

<script>

</script>

<body>
<div style="display: flex;display: -webkit-flex; flex-direction:column; height: 100%; ">
后台管理页面
</div>


</body>
<script>
</script>


</html>